_auth = ZGVlcGlrYWI6QUtDcDVlbTZoNkxUMVlBVDF6ZnFTTlhiUFg0V2tGWFhjVmpQZ2h2QVBkY1ZTazQ3TnZMekt6N3pkYk45RDZWRktBemNRQWdiVA==
# always-auth = true
email = deepikab@jfrog.com
registry = https://entplus.jfrog.io/artifactory/api/npm/npm-virtual/
@<SCOPE>:registry=https://entplus.jfrog.io/artifactory/api/npm/npm-virtual/
